/.yarn/**            linguist-vendored
/.yarn/releases/*    binary
/.yarn/plugins/**/*  binary
/.pnp.*              binary linguist-generated
/src/pyquery_polars/frontend/elements/code_editor/assets/*.html linguist-vendored
